a.coursework{
    text-decoration: none;
}

a.coursework > span em {
    font-style: italic;
    margin-top: -13px;
    color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
    font-size: .9em;
    display: block;
}

a.coursework:hover > span em {
    color: rgb(0, 0, 0);
}

section {
    margin: 10px 0 0 0;
    padding: 10px;
}

ul li {
    list-style-type: none;
}

// ul li:nth-child(even) > div{
//     background-color: #80f8a8;
// }

img {
    // display: inline;
    width: 20%;
    margin: 0 !important;
}

a.coursework > p {  
    display: inline;
}

.thumbnail{
    background-color: #e1fdff;
    transition: background-color 0.25s ease;
    margin: 20px;
    padding: 20px;
    display: block; 
    line-height: 2em;
    border: 2px solid #c4fdff;
    border-radius: 34px;
    color: #000;
}

.thumbnail:hover{
    background-color: #9ef2f5 !important;
}

.shortdesc{
    white-space: pre-wrap;
}