a.coursework{
    text-decoration: none;
}

a.coursework > span em {
    font-style: italic;
    margin-top: -13px;
    color: rgba($color: rgb(0, 0, 0), $alpha: 0.5);
    font-size: .9em;
    display: block;
}

a.coursework:hover > span em {
    color: rgb(0, 0, 0);
}
a.coursework > p {  
    display: inline;
}

section {
    margin: 10px 0 0 0;
    padding: 10px;
}

ul li {
    list-style-type: none;
}


img {
    width: 20%;
    margin: 0 !important;
}

.thumbnail{
    background-color: #9ef2f5;
    transition: background-color 0.25s ease;
    margin: 20px;
    padding: 20px;
    display: block; 
    line-height: 2em;
    border: 2px solid #9ef2f5;
    border-radius: 34px;
    color: #000;
}

.thumbnail:hover{
    background-color: #46b4b8 !important;
}

.shortdesc{
    white-space: pre-wrap;
}

.readMore{
    color: white;
    border: 1px white solid;
    background-color: #000;
}

@media (max-width: 768px) {
    img {
        width: 100%;
        margin: 0 !important;
    }
}
