.aboutdescription {
    margin: 2em 0 0 0;
    padding: 10px;
    display: block; 
    line-height: 2em;    
  }

  
a{  
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

main {
	position: relative;
	overflow: hidden;
	border: 1px solid rgba(255,255,255,.3);
	color: black;
	border-radius: 25px;
}