<main>
    <article class="aboutdescription">
        <p>
            I am Leejia James, <strong>Masters</strong> student at the <strong>University of Texas at Dallas</strong>.<br>
            Major: Computer Science <br>
            Specialization: Data Science <br><br>
    
            Languages/Tools used in Coursework so far: Python, Pandas, Scikit-learn, Java, AngularJS, Bootstrap, HTML, CSS, JavaScript, Android Development, C# Windows Form Applications, Hadoop MapReduce, Spark MapReduce (scala), PIT Mutation Testing Tool, Maven, Geocoder API,  
            Apache Spark Streaming, ElasticSearch, Kibana, pyspark, Stanford CoreNLP <br><br>
    
            Fall 17: Courses completed - Human Computer Interaction, Machine Learning, Database Design <br>
            Spring 18: Courses completed - Design and Analysis of Computer Algorithms, 
            Big Data Management and Analytics, Web Programming Languages, 
            Software Testing, Validation and Verification <br>
            Summer 18: User Interface Developer Intern, Trans American Information Systems <br><br>
    
            Some of my coursework is added to GitHub: <strong><a href="https://github.com/leejiaj" class="href" target="_blank">GitHub Account</a></strong> <br>
            My professional summary is added to LinkedIn: <strong><a href="https://www.linkedin.com/in/leejiajames/" class="href" target="_blank"> LinkedIn Page</a></strong>
          </p>
    </article>
</main>
