$color_two: rgb(255, 0, 0);

.content{
    display: flex;
    flex-direction: row;
}

.sidenav{
    position: fixed;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}

.maincontent{
    margin-top: 5em;
    width: 100%;
}

nav {
    text-align: justify;
    display: flex;
    flex-direction: row;
  
    a {
        padding: .5em;
        text-decoration: none !important;
        margin: 1em;
        display: inline-block;
        color: rgb(0, 0, 0);
        font-weight: 300;
        font-family: 'Comic Sans MS','Chiller',Verdana;  
        font-size: 16px;
        width: 25%;
        text-align: center;
        border: 1px #fff dashed;
        background-color: #ffffff;
      }
  
    a:hover {
      color: $color_two; 
    }
  
    a.active {
    color: $color_two;
    }

    
  
  }

@media (max-width: 800px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .sidenav{
        display: inline-table;

    }

    nav {
        a {
            font-size: .7em;
            margin: .5em;
            padding: .5em;
        }
    }
    
    .maincontent{
        margin-left: 0;
        margin-top: 2em;
    }
}

@media (max-width: 450px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .sidenav{
        display: inline-table;

    }

    nav {
        a {
            font-size: .6em;
            margin: .5em;
            padding: .5em;
        }
    }
    
    .maincontent{
        margin-left: 0;
    }
}