<div class="content">
  <div class="sidenav">
    <nav class="neon_text">
      <a routerLink="/home">HOME</a>
      <a routerLink="/coursework">COURSEWORK</a>
      <a routerLink="/recent">WORKSHOPS, <br> ONLINE COURSES <br> & OTHERS</a>
      <a routerLink="/about">ABOUT</a>
    </nav>
  </div>
  <div class="maincontent">
    <!-- <a href="#" class="logo"><span>Leejia James</span></a> -->
    <blockquote>
      The best way to get things done is to simply begin.
    </blockquote>
    <router-outlet></router-outlet>
  </div>
</div>
