main {
	position: relative;
	overflow: hidden;
	border: 1px solid rgb(255, 255, 255);
	margin: 5%;
	padding: 10px;
	border-radius: 25px;
}

.main{
    flex: 100%; 
    max-width: 100%;
    float: left;
    text-align: justify;
    line-height: 2em;
    color: #000;
}

.description{
    white-space: pre-wrap;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: underline;
  }

.breakword{
    word-wrap: break-word;
}