/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

$font-stack: 'Comic Sans MS','Chiller',Verdana;
$primary-color: rgb(0, 0, 0);
$color_one: #1fe6a4;
$color_two: #fff;

html{
  height: 100%;
  width: 100%;
}

body {
  font: 100% $font-stack !important;
  color: rgb(255, 255, 255);
  font-size: 15px !important;
  background-attachment: fixed;
  text-align: justify;
  width: 100%;
}




.neon_text{
  text-shadow: -2px -2px 10px $color_two,
                2px 2px 10px $color_two,
                0 0 20px $color_one,
                0 0 40px $color_one,
                0 0 60px $color_one;
}


a.logo span{
  display: none;
}

a.logo{
  display:inline-block;
  width: 200px;
  height: 40px;
  position: fixed; 
}
