/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

// $font-stack:    Verdana, Georgia, serif, Helvetica, sans-serif;
// $font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-stack: 'Comic Sans MS','Chiller',Verdana;
$primary-color: rgb(0, 0, 0);
$color_one: #50faab;
$color_two: #fff;

html{
  height: 100%;
}

body {
  font: 100% $font-stack !important;
  color: white;
  font-size: 15px !important;
  // background-color: $primary-color;
  background: linear-gradient(to bottom right, #28cb28,#2838c8);
  background-attachment: fixed;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: Georgia, 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-family:'Lucida Handwriting';
  // font-family: 'Chiller';
}


nav {
  text-align: left;
  display: flex;
  flex-direction: column;

  a {
      padding: 5px 10px;
      text-decoration: none !important;
      margin: 30px;
      display: inline-block;
      color: rgb(0, 0, 0);
      font-weight: 700;
      // font-family: cursive;
      font-family: 'Comic Sans MS','Chiller',Verdana;  
      font-size: 16px;
    }

  a:hover {
    color: $color_two;
  }

  a.active {
  color: $color_two;
  }

}

// section {
//   margin: 20px;
//   padding: 20px;
//   display: block; 
//   background-color:#151414; 
//   line-height: 2em;
//   border: 2px solid $color_one;
//   border-radius: 34px;
// }

blockquote {
	width: 75%;
  margin: auto;
  text-align: center;
	line-height: 1.3em;
  color: $color_two;
  font-size: 1.2em;
  position: relative;
  border: 0px;
  transition: transform text-shadow 4s ease;
}

blockquote::before{
    content: '\201c';
    font-size: 2.2em;
    position: absolute;
    margin-left: -20px;
    color: rgba(255,255,255,.4)
}

blockquote::after{
    content: '\201d';
    font-size: 2.2em;
    position: absolute;
    // margin-right: 20px;
    // bottom: -15px;
    color: rgba(255,255,255,.4)
}

blockquote:hover{
  transform: scale(1.1,1.1);
  text-shadow: -2px -2px 10px $color_two,
  2px 2px 10px $color_two,
  0 0 20px $color_one,
  0 0 40px $color_one,
  0 0 60px $color_one;
}

.neon_text{
  text-shadow: -2px -2px 10px $color_two,
                2px 2px 10px $color_two,
                0 0 20px $color_one,
                0 0 40px $color_one,
                0 0 60px $color_one;
}

// .neon_box{
//   box-shadow:   0 0 5px $color_two,
//                 inset 0 0 5px $color_two,
//                 0 0 20px $color_one,
//                 inset 0 0 20px $color_one;

// }

a.logo span{
  display: none;
}

a.logo{
  display:inline-block;
  width: 200px;
  height: 40px;
  background: url(assets/logo.png) no-repeat 0 0;
  background-size: contain;
  position: fixed; 
  // top: 30px; left: 45px;
}
