
$color_one: #50faab;
$color_two: #fff;
.homedesc {
    margin: 20px;
    padding: 10px;
    display: block; 
    line-height: 2em;
    float: left;
  }

  main {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,.3);
    margin: 30px;
    padding: 10px;
    color: black;
    background: #9ef2f5;
    border-radius: 25px;
  }

  blockquote {
    width: 75%;
    margin: auto;
    text-align: center;
    line-height: 1.3em;
    color: $color_two;
    font-size: 1.2em;
    position: relative;
    border: 0px;
  }

  @media (max-width: 768px) {
    main {
        text-align: left;
    }
    p{
      background-color: #78f0e0;
      padding: 1em;
    }
}